.ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.ava.left {
    float: left;
    position: relative;
    left: 15px;
}

.ava.right {
    float: right;
    position: relative;
    right: 15px;
}