.shadow {
    box-shadow: 0 2.5px 22.5px 0 rgba(46, 104, 208, 0.1);
}

* {
    font-family: MaisonNeue;
}

.main {
    overflow: hidden;
    /* display: inline-block; */
    padding: 15px 0px 15px 25px;
    /* display: flex;
flex-direction: row; */
}