.main-ava-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    display: inline-block;
    margin-left: 780px;
}

.main-ava {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}