.search-bar {
    float: right;
    height: auto;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: auto;
    opacity: 0.6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 2px;
    border: 0.5px solid #dadde8;
    padding: 5px 2px;
}

.search-input {
    border: none;
}

.search-input:focus {
    outline-width: 0;
}

.search-button {
    background-color: transparent;
    border: none;
}