.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    /* z-index: 0; */
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav-content {
    position: relative;
}

.setting-button {
    position: absolute;
    bottom: 30px;
}